name: Docker

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  release:
    types:
      - published

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v3

      - name: Set git slug envs
        uses: rlespinasse/github-slug-action@4.2.5

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to GitHub Container Registry
        if: github.event_name == 'release'
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GH_PKG_TOKEN }}

      - name: "Setup docker tags (latest + vX.Y)"
        if: github.event_name == 'release'
        run: |
          echo 'DOCKER_TAGS<<EOF' >> $GITHUB_ENV
          echo 'ghcr.io/${{ github.repository}}:${{ env.GITHUB_REF_SLUG }}' >> $GITHUB_ENV
          echo 'EOF' >> $GITHUB_ENV

      - name: "Setup docker tags (latest)"
        if: github.event_name != 'release'
        run: |
          echo 'DOCKER_TAGS<<EOF' >> $GITHUB_ENV
          echo 'ghcr.io/${{ github.repository}}:latest' >> $GITHUB_ENV
          echo 'EOF' >> $GITHUB_ENV

      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v3
        with:
          context: ./depcheck
          file: ./depcheck/Dockerfile
          platforms: linux/amd64
          push: ${{ github.event_name == 'release' }}
          tags: ${{ env.DOCKER_TAGS }}
